{% extends "jinja2/layout.html" %}
{% block content %}
  <h2> 4) Solution: combine StreamingHttpresponse() with jinja.generate()</h2>
  <br>
  <p> Thanks to jinja2.generate(), we have the best of both worlds : the page uses a template, and the content is streamed.</p>
<p>The context dictionary contains a string : <b>{{mystring}}</b></p>

  <p>And also a short list, that will be rendered very quickly by StreamingHttpResponse() :</p>
  <ul>
    {% for n in mylist %}
    <li>{{n}}</li>
    {% endfor %}
  </ul>
  <p>The next element takes about 5 seconds to render, but the page displays every element as it is processed.</p>
  <ul>
    {% for element in mylongresponse %}
    <li>{{element}}</li>
    {% endfor %}
  </ul>
{% endblock %}